<GridLayout rows="*">
    <ScrollView>
        <StackLayout horizontalAlignment="center">
            <CardView *ngFor="let articleItem of article?.result; let $index = index;">
                <StackLayout class="article-card">
                    <StackLayout class="list-group-item" orientation="horizontal" horizontalAlignment="center">
                        <Image src="~/assets/img/wolf2.png" class="article-author-image"></Image>
                        <Label class="article-title primary-link" textWrap="true" [text]="articleItem.title"></Label>
                    </StackLayout>
                    <StackLayout class="list-group-item article-overview" orientation="horizontal">
                        <Label textWrap="true" [text]="articleItem.overview"></Label>
                    </StackLayout>
                    <StackLayout class="list-group-item" orientation="horizontal">
                        <GridLayout rows="auto" columns="* auto *" class="article-meta">
                            <Label class="primary-link" row="0" col="0" class="pull-left"
                                   [text]="articleItem.author"></Label>
                            <Label class="primary-link" row="0" col="1" class="text-center"
                                   [text]="'第' + ($index + 1) + '篇/共' + article?.total +'篇'"></Label>
                            <Label class="primary-link" row="0" col="2" class="pull-right"
                                   text="阅读原文"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>