<ActionBar [title]="currentTab.title" backgroundColor="#4acaa8" color="#fff">
</ActionBar>
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)" selectedColor="#fff" tabsBackgroundColor="#4acaa8">
    <StackLayout *tabItem="tabs[0]">
        <article-list (articleClicked)="gotoPage($event)"></article-list>
    </StackLayout>
    <StackLayout *tabItem="tabs[1]">
        <about-me></about-me>
    </StackLayout>
    <StackLayout *tabItem="tabs[2]">
        <contact></contact>
    </StackLayout>
</TabView>