<ActionBar title="Title">

</ActionBar>
<TabView>
    <StackLayout *tabItem="{title: '文章', iconSource: '~/icon.png'}" >
        <article-list></article-list>
    </StackLayout>
    <StackLayout *tabItem="{title: '关于我'}">
        <ListView class="list-group" [items]="countries" (itemTap)="onItemTapFirstList($event)" separatorColor="white">
            <template let-country="item">
                <GridLayout rows="* auto" columns="*" class="list-group-item active" style="border: 1px;">
                    <Image row="0" col="0" [src]="country.imageSrc"></Image>
                    <StackLayout row="1" col="0" backgroundColor="white" class="list-group-item">
                        <Label class="list-group-item-heading" [text]="country.name"></Label>
                        <Label class="list-group-item-text" [text]="'Continent: '+country.continent"></Label>
                    </StackLayout>
                </GridLayout>
            </template>
        </ListView>
    </StackLayout>
    <StackLayout *tabItem="{title: '联系我们'}">
        <Label text="Third tab item"></Label>
    </StackLayout>
</TabView>